body{
    font-family: Arial;
    background-color:grey;
    padding: 30px;
}

h1{
    color: darkblue;
}

input, select{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(24, 24, 34);
    color: white;
}

li{
    margin-top: 10px;
    font-size: 18px;
}